* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rejouice2";
}
@font-face {
    font-family: "Rejouice";
    src: url(./Assets/Fonts/Rejouice-Headline.ttf);
}
@font-face {
    font-family: "Rejouice2";
    src: url(./Assets/Fonts/NBInternationalProBoo.ttf);
}
html,
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


.page-1{
    width: 100%;
    height: 100vh;
    position: relative;
}

.page-1 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.page-1-content{
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 3vw;
    font-size: 12px;
    
}
nav h1 , h2{
    letter-spacing: 1px;
    font-weight: 100;
    cursor: pointer;
}

.page-1-text h1 span{
    font-family: "Rejouice";
    font-size: 24vw;
    line-height: -2vh;
    font-weight: 700;
}
.page-1-text{
    text-align: center;
    letter-spacing: 5px;
    line-height: 13vw;
}
#cursor{
    width: 7vw;
    height: 14.5vh;
    background-color: #2b2420be;
    border-radius: 54%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15.5px;
    color: #ffffff;
    cursor: auto;
    transform: translateX(-50%, -50%)
}
.page-2-upper-text h1 span{
    display: inline-block;
}
.page-2-line-hr{
    padding: 0.2px;
    background: #000000;
    margin: 0 2vw;
}
.page-2{
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}
.page-2-content ,.page-2-upper-text ,.page-2-bottom-text{
    overflow: hidden;
}
.page-2-upper-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    overflow: hidden;
    padding: 2vw
    
}
.page-2-upper-text h1{
    font-size: 1.7vw;
    font-weight: normal;
    padding-left: 2px;

}

.page-2-bottom-text span{
    font-size: 4.2vw;
}
.page-2-bottom-text {
    margin: 20px;
}