* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rejouice2";
}

html,
body {
    width: 100%;
    height: 100%;
}

/* Fonts */
/* Fonts */

@font-face {
    font-family: "Rejouice";
    src: url(./Assets/Fonts/Rejouice-Headline.ttf);
}

@font-face {
    font-family: "Rejouice2";
    src: url(./Assets/Fonts/NBInternationalProBoo.ttf);
}

/* NavBar Started */
/* NavBar Started */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 3vw;
    font-size: 12px;

}

nav h1,
h2 {
    letter-spacing: 1px;
    font-weight: 100;
    cursor: pointer;
}

/* NavBar Ended */
/* NavBar Ended */


/* Cursor */
/* Cursor */

#cursor {
    width: 7vw;
    height: 14.5vh;
    background-color: #2b2420be;
    border-radius: 54%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15.5px;
    color: #ffffff;
    cursor: auto;
}

/* Page 1 Started */
/* Page 1 Started */

.page-1 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.page-1 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.page-1-content {
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-1-text h1 span {
    font-family: "Rejouice";
    font-size: 24vw;
    line-height: -2vh;
    font-weight: 700;
}

.page-1-text {
    text-align: center;
    letter-spacing: 5px;
    line-height: 12vw;
}

/* Page 1 Ended */
/* Page 1 Ended */

/* Page 2 Started */
/* Page 2 Started */


.page-2-upper-text h1 span {
    display: inline-block;
    padding-left: 4px;


}

.page-2-line {
    margin: 0 2vw;
    border-bottom: 1.5px solid black;
}

.page-2 {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}

.page-2-content,
.page-2-upper-text,
.page-2-bottom-text {
    overflow: hidden;
}

.page-2-upper-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    overflow: hidden;
    padding: 2vw
}

.page-2-upper-text h1 {
    font-size: 1.7vw;
    font-weight: normal;
    padding-left: 2px;

}

.page-2-bottom-text span {
    font-size: 4.2vw;
}

.page-2-bottom-text {
    margin: 20px;
}

/* Page 2 Ended */
/* Page 2 Ended */



/* Page 3 Started */
/* Page 3 Started */


.page-3{
    width: 100%;
    min-height: 100%;
    /* background-color: #ff0000; */
}
.page-3-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5vw 1.5vh;
    line-height: 9.2vh;
    
}

.page-3-top h2{
    font-size: 4.3vw;
    cursor: pointer;
    border-bottom: 3px solid black;
    display: flex;
    gap: 18px;
}

.page-3-top h4{
    font-size: 1.3vw;
    cursor: pointer;
    color: rgb(0 0 0 / 87%);
    font-weight: 500;
}
.page-3-top h4 i{
    font-size: 22px;
    cursor: pointer;
    padding: 6px;
}
.page-3-model{
    border-radius: 50px;
    color: white;
    background-color: black;
    padding: 5px 10px;
    font-size: 0.9vw;
    margin-left: 10px;
    cursor: pointer;
}

.cards-container{
    margin-top: 25vh;
}
.page-bottom-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    font-size: 1.9vh;
}




